.container{
    outline-style: dotted;
    height:1000px;
    margin-top: 5%;
}
.grid1{
    margin-right: 5px;
    margin-left: 5px;
   align-content: center;
   justify-content: center;
   margin-top: 5%;
   height: 1000px;
   width:1000px;;
}
.nav{
    background-color:#040453;
}
/* .Navtitle{
    display:flex;
    width:100vw;
     font-size: 40px;
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     align-content: center;
     justify-content: center;
     cursor: pointer;
     padding-top: 10px;
} */
.Navtitle{
    width:100vw;
     font-size: 40px;
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left:45%;
     cursor: pointer;
     
 }
 .btnHome{
     width:25px;
     height:25px;  
 }
 
 .btnHomeRef:hover{
     text-decoration: none;
     background-color: transparent;
     color: white;
     cursor: pointer;
    
 }
 h1 a {
    color:white;
    font-size: 40px;
    
    
}
 h1 a:hover{
    text-decoration: none;
    background-color: transparent;
    color: white; 
    cursor: pointer;
}
.vertical{
    transform:rotate(-90deg);
    /* transform-origin: left  0; */
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
}
.designNav{
    /* border:1px solid black; */
    display: flex;
    flex-wrap: wrap;
    outline-style:  auto;
  justify-content: center;
    align-content: center;
  
    
}
.btnResearch{
    display:flex;
    height:20%;
    width:100px;
    justify-content: center;
    margin-top:20px;
    align-content: center;
    vertical-align: middle;
    background-color:rgb(146, 27, 230);
    color:white;
    padding-top: 30%;
}
 .btnDefinition {
    display:flex;
    height:20%;
    width:100px;
    justify-content: center;
    margin-top:20px;
    align-content: center;
    vertical-align: middle;
    background-color: rgba(53, 73, 224, 0.76);
    color:white;
    padding-top: 30%;
    
}
.btnIdeation {
    display:flex;
    height:20%;
    width:100px;
    justify-content: center;
    margin-top:20px;
    align-content: center;
    vertical-align: middle;
    background-color: rgba(25, 186, 223, 0.76);
    color:white;
    padding-top: 30%;
    
}
.btnPrototype{
    display:flex;
    height:20%;
    width:100px;
    justify-content: center;
    margin-top:20px;
    align-content: center;
    vertical-align: middle;
    background-color: #0c340f;
    color:white;
    padding-top: 30%;
    
}


.designContent{
    outline-style: auto;
}
.designDetails{
    outline-style: auto ;

}
a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 18px;
    font-size: 30px;
  }
  
  a:hover {
    background-color: rgb(144, 217, 230);
     /* #ddd; */
    color: black;
    font-size: 40px;
  }
  
  .round {
     margin-top: 400%;
    border-radius: 70%;
  }
  .teamProject{
      margin-top: 25%;
  }
  /* .btnHome{
      /* background-color: #040453;; */
      width:30px;
      height:30px;
    margin-top: -70px;
    margin-left: 20px;
  }
  .btnClose{
    width:20px;
    height:20px;
    justify-content: right;
    align-content: right;
   Margin-top:-50px;
   margin-left: 99%; 
   cursor: pointer;

  } */