.container{
    outline-style: dotted;
    height:1000px;
    margin-top: 5%;
}
.grid1{
    margin-right: 5px;
    margin-left: 5px;
   align-content: center;
   justify-content: center;
   margin-top: 5%;
   height: 1000px;
   width:1000px;;
}
.nav{
    background-color:#040453;
}

.Navtitle{
   width:100vw;
    font-size: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:45%;
    cursor: pointer;
    
}
.navHead a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 18px;
  }
  .btnHome{
    width:25px;
    height:25px;  
}

.btnHomeRef:hover{
    text-decoration: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
   
}
 h1 a {
    color:white;
    font-size: 40px;
    
    
}
 h1 a:hover{
    text-decoration: none;
    background-color: transparent;
    color: white; 
    cursor: pointer;
}
.vertical{
    text-orientation: mixed;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
    height:600px;
    text-align: center;
    margin:auto;
    font-size: 26px;
}
.designNav{
    /* border:1px solid black; */
    display: flex;
    flex-wrap: wrap;
    outline-style:  auto;
  justify-content: center;
    align-content: center;
  
    
}
.btnResearch{
    height:120px;
    width:100px;
    margin-top:20px;
    background-color:rgb(146, 27, 230);
    color:white;
    font-size: 16px;
}

.btnDefinition {
    height:120px;
    width:100px;
    margin-top:20px;
    background-color: rgba(53, 73, 224, 0.76);
    color:white;
    font-size: 16px;
    
}
.btnIdeation {
    height:120px;
    width:100px;
    margin-top:20px;
    background-color: rgba(25, 186, 223, 0.76);
    color:white;
    font-size: 16px;
    
}
.btnPrototype{
    height:120px;
    width:100px;
    margin-top:20px;
    background-color: #0c340f;
    color:white;
    font-size: 16px;
    
}
.designNav a:hover{
    text-decoration: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.designContent{
    outline-style: auto;
}
.designDetails{
    outline-style: auto ;

}
a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 18px;
    font-size: 30px;
  }
  
  .designLeftNav a:hover, .designRightNav a:hover, 
  .designbottomNav a:hover {
    background-color: rgb(144, 217, 230);
    color: black;
    font-size: 40px;
  } 
  
  .round {
     margin-top: 400%;
    border-radius: 70%;
  }
  .teamProject{
      margin-top: 25%;
  }
 